# Git Control
GIT_URL=...
GIT_BRANCH=main

# Deployment, Domain and Port
LETSENCRYPT_HOST=domain.com
VIRTUAL_HOST=domain.com
VIRTUAL_PORT=3000

# App Analytics
NEXT_PUBLIC_UMAMI_URL=https://your-umami-instance.com
NEXT_PUBLIC_UMAMI_WEBSITE_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
